body {
  height: 100vh;
  background: url("img/steakbg.jpg") center scroll;
}

#container {
  height: 100%;
  width: 100%;

  background: url("img/steakbg.jpg") no-repeat center;

  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER*/

.header {
  display: flex;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  color: white;
  justify-content: center;
  gap: 3em;

  font-size: 4rem;

  margin-bottom: 1rem;
  border-bottom: 1px #c59d5f solid;
  font-family: "Herr Von Muellerhoff", cursive;
}

.headerSelected > p {
  position: relative;
}
.headerSelected > p::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 60%;
  background: #c59d5f;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header > div :hover {
  cursor: pointer;

  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* CONTENT INDEX*/

#contentIndex {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
  font-size: 3rem;
}

.bienvenidos {
  font-size: 10rem;
  color: #c59d5f;
  font-family: "Herr Von Muellerhoff", cursive;
  text-shadow: black 0.1rem 0.1rem 2px;
}

.matadero {
  font-family: "Redressed", cursive;
  font-size: 16rem;
  margin-top: -85px;
  text-shadow: black 0.1rem 0.1rem 2px;
  margin-bottom: 100px;
  position: relative;
}

.matadero::after {
  position: absolute;
  content: "";
  height: 5px;
  bottom: -20px;
  margin: 0 auto;
  left: -25%;
  right: -25%;
  width: 99%;
  background: #c59d5f;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.buttonMenu {
  background-color: #c59d5f;
  border-radius: 0.8rem;
  border: none;
  color: black;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 100px;
  font-weight: 700;
  transition: all 0.1s ease-out;
  height: 70px;
}

.buttonMenu:hover {
  color: white;
  font-size: 2.1rem;
  transition: all 0.1s ease-out;
}

/* CONTENT MENU*/

.contentMenu {
  background-color: #0000006b;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  border-bottom: #c59d5f 1px solid;

  gap: 3rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  margin-top: 1rem;
}

.menuItem {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuImg {
  height: 250px;
  width: 300px;
  margin: 1rem;
  margin-left: 2px;
  margin-right: 2px;
  border: #c59d5f 2px solid;
  object-fit: cover;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.menuText {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  text-shadow: #000000 0.1rem 1px;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.menuPrice {
  color: #c59d5f;
}

/* CONTACTO */

.contactoContainer {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.contactanos {
  font-size: 3rem;
  text-shadow: #c59d5f 0.1rem 0.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  margin-bottom: 2rem;
}

.contactanos::after {
  position: absolute;
  content: "";
  height: 5px;
  bottom: -15px;
  margin: 0 auto;
  left: -25%;
  right: -25%;
  width: 120%;
  background: #c59d5f;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacto {
  background-color: #c59d5f;
  width: 1200px;
  height: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-size: 1.3rem;
  padding: 1rem;
}

.izqArriba {
  width: 50%;
  border-right: black 1px solid;
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  flex-direction: column;
  gap: 2rem;
}

.derAbajo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.inconoTexto {
  display: flex;
  gap: 1rem;
}

.inconoTexto > p {
  text-shadow: white 0.02rem 0.02rem;
}

.iconoBlanco {
  color: white;
  text-shadow: #000000 0.1rem 0.1rem;
}

.horario {
  font-weight: 600;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
}

.inputContacto {
  height: 3rem;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 0.5rem;
  color: white;
  background-color: #c59d5f;
  box-shadow: black 0.1rem 0.1rem;
  position: relative;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  text-shadow: #000000 0.1rem 0.1rem;
}

.inputContacto::placeholder {
  color: rgb(74, 58, 34);
  text-shadow: white 0.03rem 0.03rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.submitButton {
  margin-top: 1rem;
  width: 50%;

  border-radius: 0.8rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: #000000 0.5rem 0.5rem;
}

.submitButton:hover {
  background-color: #c0c0c0;
}

.submitButton:active {
  transform: translateY(5px);
  box-shadow: #000000 0.4rem 0.3rem;
}

.mensajelargo {
  height: 6rem;
}

.mapa {
  padding: 1rem;
  width: 90%;
}

.mapaContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  color: white;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  color: rgb(54, 54, 54);
  height: 120px;
}

.footer p {
  color: rgb(216, 216, 216);
  vertical-align: top;
}

.footer > p > a {
  text-decoration: none;
  color: #c59d5f;
  font-weight: 500;
  transition: font-size 0.3s ease-out;
}

.footer > p > a:hover {
  font-size: 1.5rem;
  transition: font-size 0.3s ease-out;
}

@media (max-width: 1200px) {
  .header {
    font-size: 4rem;
  }
  .footer {
    font-size: 1rem;
  }

  .matadero {
    font-size: 10rem;
  }

  .buttonMenu {
    font-size: 2rem;
  }

  .contacto {
    width: 90%;
    padding-top: 1rem;
  }
}

@media (max-width: 800px) {
  .header {
    font-size: 3rem;
    gap: 1.5rem;
  }
  .footer {
    font-size: 1rem;
  }

  .bienvenidos {
    font-size: 5.5rem;
  }

  .matadero {
    margin-top: -35px;
    font-size: 4.5rem;
  }

  .buttonMenu {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

  .buttonMenu:hover {
    font-size: 1.6rem;
  }

  .footer > p > a:hover {
    font-size: 1.3rem;
  }

  .contactanos {
    font-size: 1.5rem;
  }

  .contacto {
    flex-direction: column;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .izqArriba,
  .derAbajo {
    width: 100%;
  }

  .izqArriba {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    
    padding: 1.3rem;
    
  }
}
